/* styles.css */

/* Global styles */
body {
    font-family: Times New Roman, sans-serif;
    margin: 0;
    padding: 0;
}

header, main, footer {
    padding: 10px;
}

h1, h2, h3 {
    color: #333;
}


/* Header styles */
header {
    background-color: #d5f2de;
    text-align: center;
}

/* Section styles */
section {
    margin-bottom: 10px;
}

h2 {
    color: #813;
    margin-bottom: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

/* Footer styles */
footer {
    background-color: #d5f2de;
    text-align: center;
    color: #777;
    font-size: 14px;
}

.header-content {
    display: flex;
    align-items: flex-start;
}

.profile-image {
    max-width: 20%;
    height: auto;
}

.description {
    margin-left: 20px;
    font-size:20px
}

.left-aligned-section {
    text-align: left;
}

